<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a href="/" class="text-decoration-none">
        <img src="images/logo.webp" width="50" height="42" class="bi me-2" alt="">
        <span class="navbar-brand mb-0 h1 ">CockTail Craze</span></a>
      <form class="d-flex" role="search" method="get" action="/search">
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    </div>
  </nav>